#topo{
    width:100%; 
    height: 100px;
    background-color: #FFE4C4;
    float: left;
    text-align: center;
    color:#C71585;
}

  #menu_lateral{
        width: 20%;
        height: 600px;
        background-color: #F5F5DC;
        float: left;
}
  
  #rodape{
        width: 100%;
        height: 100px;
        background-color: #FFE4B5;
        float: left;
        text-align: center;	
 }
 
 .img_produto{
        width: 160px;
        height: 160px;
   }